<!-- wp:template-part {"slug":"header","theme":"paksa-it-solutions","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"full","anchor":"main-content","className":"pk-site-editor-main","layout":{"type":"constrained"}} -->
<!-- wp:group {"tagName":"section","align":"full","className":"pk-site-editor-hero","layout":{"type":"constrained"}} -->
<!-- wp:group {"align":"wide","className":"pk-site-editor-hero__inner","layout":{"type":"constrained"}} -->
<!-- wp:post-title {"textAlign":"center","level":1,"fontSize":"display"} /-->
<!-- wp:post-excerpt {"textAlign":"center","className":"pk-site-editor-hero__excerpt","fontSize":"body-large"} /-->
<!-- /wp:group -->
<!-- /wp:group -->
<!-- wp:group {"align":"full","className":"pk-site-editor-content","layout":{"type":"constrained"}} -->
<!-- wp:query {"queryId":16,"query":{"perPage":9,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"className":"pk-site-editor-archive-loop"} -->
<div class="wp-block-query pk-site-editor-archive-loop"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"className":"is-style-paksa-card-blog","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-paksa-card-blog"><!-- wp:post-featured-image {"isLink":true,"className":"is-style-paksa-image-zoom"} /-->
<!-- wp:group {"className":"pk-component-meta","layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group pk-component-meta"><!-- wp:post-date /--></div>
<!-- /wp:group -->
<!-- wp:post-title {"isLink":true,"level":3} /-->
<!-- wp:post-excerpt {"moreText":"Read more"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->
<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-query-pagination is-layout-flex is-content-justification-center"><!-- wp:query-pagination-previous /--><!-- wp:query-pagination-numbers /--><!-- wp:query-pagination-next /--></div>
<!-- /wp:query-pagination --></div>
<!-- /wp:query -->
<!-- /wp:group -->
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"paksa-it-solutions","tagName":"footer"} /-->
