<!-- wp:template-part {"slug":"header","theme":"paksa-it-solutions","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"full","anchor":"main-content","className":"pk-site-editor-main","layout":{"type":"constrained"}} -->
<!-- wp:template-part {"slug":"page-hero","theme":"paksa-it-solutions","tagName":"section"} /-->
<!-- wp:group {"align":"wide","className":"pk-site-editor-entry-meta pk-component-meta","layout":{"type":"flex","justifyContent":"center","flexWrap":"wrap"}} -->
<!-- wp:post-date /-->
<!-- wp:post-terms {"term":"category"} /-->
<!-- /wp:group -->
<!-- wp:post-featured-image {"align":"wide","className":"is-style-paksa-image-zoom"} /-->
<!-- wp:group {"align":"full","className":"pk-site-editor-content","layout":{"type":"constrained"}} -->
<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->
<!-- wp:post-terms {"term":"post_tag","className":"pk-component-meta"} /-->
<!-- wp:post-navigation {"layout":{"type":"flex","justifyContent":"space-between"}} /-->
<!-- wp:post-comments-form /-->
<!-- /wp:group -->
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"paksa-it-solutions","tagName":"footer"} /-->
