<!-- wp:template-part {"slug":"header","theme":"paksa-it-solutions","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"full","anchor":"main-content","className":"pk-site-editor-main","layout":{"type":"constrained"}} -->
<!-- wp:group {"tagName":"section","align":"full","className":"pk-site-editor-hero pk-site-editor-hero--product","layout":{"type":"constrained"}} -->
<!-- wp:paksa/breadcrumbs {"align":"wide"} /-->
<!-- wp:group {"align":"wide","className":"pk-site-editor-hero__inner","layout":{"type":"constrained"}} -->
<!-- wp:post-terms {"term":"paksa_product_cat","className":"pk-component-meta"} /-->
<!-- wp:post-title {"level":1,"fontSize":"display"} /-->
<!-- wp:post-excerpt {"className":"pk-site-editor-hero__excerpt","fontSize":"body-large"} /-->
<!-- /wp:group -->
<!-- /wp:group -->
<!-- wp:post-featured-image {"align":"wide","className":"is-style-paksa-image-zoom","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|80"}}}} /-->
<!-- wp:group {"align":"full","className":"pk-site-editor-content","layout":{"type":"constrained"}} -->
<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->
<!-- /wp:group -->
<!-- wp:paksa/related-content {"align":"full"} /-->
<!-- wp:template-part {"slug":"cta-global","theme":"paksa-it-solutions","tagName":"section"} /-->
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"paksa-it-solutions","tagName":"footer"} /-->
