<!-- wp:template-part {"slug":"header","theme":"paksa-it-solutions","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"full","anchor":"main-content","className":"pk-site-editor-main","layout":{"type":"constrained"}} -->
<!-- wp:template-part {"slug":"page-hero","theme":"paksa-it-solutions","tagName":"section"} /-->
<!-- wp:group {"align":"wide","className":"pk-site-editor-entry-meta pk-component-meta","layout":{"type":"flex","justifyContent":"center","flexWrap":"wrap"}} -->
<!-- wp:post-date /-->
<!-- wp:post-terms {"term":"category"} /-->
<!-- wp:post-author {"showAvatar":false} /-->
<!-- /wp:group -->
<!-- wp:post-featured-image {"align":"wide","className":"is-style-paksa-image-zoom","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|80"}}}} /-->
<!-- wp:group {"align":"full","className":"pk-site-editor-content","layout":{"type":"constrained"}} -->
<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->
<!-- wp:post-terms {"term":"post_tag","className":"pk-component-meta","style":{"spacing":{"margin":{"top":"var:preset|spacing|70"}}}} /-->
<!-- wp:separator {"className":"is-style-paksa-divider"} --><hr class="wp-block-separator is-style-paksa-divider"/><!-- /wp:separator -->
<!-- wp:post-navigation-link {"type":"previous","label":"Previous"} /-->
<!-- wp:post-navigation-link {"type":"next","label":"Next"} /-->
<!-- wp:post-comments-form /-->
<!-- /wp:group -->
<!-- /wp:group -->
<!-- wp:template-part {"slug":"cta-global","theme":"paksa-it-solutions","tagName":"section"} /-->
<!-- wp:template-part {"slug":"footer","theme":"paksa-it-solutions","tagName":"footer"} /-->
